.encryptor {
width: 80%;
margin: 0 auto;
}
.encryptor__container {
display: flex;
justify-content: space-between;
align-items: flex start;
padding: 20px;
}
.encryptor__textarea--input 
.encryptor__textarea--output {
width: 48%;
height: 200px;
resize: vertical; /* Allow vertical resizing */
font-family: inherit; /* Inherit font family from body */
font-size: 16px; /* Set desired font size */
line-height: 1.5; /* Set line spacing */
padding: 10px;
}
.encryptor__textarea--input::placeholder,
.encryptor__textarea--output::placeholder{     
    color: #808080;




