

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primary: #E5E5E5; /*Color de figma #E5E5E5 en rgba*/
    --color-secondary: #0A3871;
    --color-tertiary: #202124;
    --color-placeholder:#275880;
    --color-quinary:#D8DFE8;
    --glow-color: #61efff;
    --font-primary:'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

html{   
    font-size: 62.5%; /* 1rem = 10px , Calculo: 24px/10px = 2.4rem  (62.5% equivale a base 10px)*/
}
body{
    
    
    background-color: var(--color-primary);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    width: 100%;
    
    
}
header{
    width: 20%;
    height: 15%;
}

.logo{
    padding-top : 3.5rem;  
    padding-left: 4rem;
    }
.encryptor{
    display: flex;
}
.encryptor__container{
    /*margin-top: 4rem;*/
    display: flex;
    flex-direction: row;  
    
    /*height: auto;*/
    justify-content: space-between;
    padding-top: 2rem;
    /*gap: 1rem;*/
    width: 100%;
    
    
}

.encryptor__input{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 8rem;
    /*height: auto;*/
}

.left-column{
    
    
    width: 70%;
    height: 100%;
    
}

.clear__button{
    position:absolute;
    top: 1.6rem;
    right: 1rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-placeholder);
    background-color: var(--color-quinary);
    border: 1px solid transparent;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.clear__button:hover{
    color: var(--color-tertiary);
    background-color: var(--glow-color)
}

.textarea{
    resize: none;
    outline:none;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border-radius: 2em;
    border: none;
    
    font-family : var(--font-primary);
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}

.textarea--input{
    margin-top: 5.6rem;
    margin-left: 8rem;
    margin-right: 2rem;
    max-width: 90%; 
    min-height: 288px;
    height: 72%;
    max-height: 400px;
    font-size: 2rem;
    color: var(--color-secondary);
    caret-color: var(--color-secondary);
    
}

::placeholder{
    color: var(--color-placeholder);
    font-size: 2rem;
    opacity: 50%;
}

::-ms-input-placeholder{
    color: var(--color-placeholder);
    opacity: 50%;
}

.encryptor__warning{
    margin-top: 6rem;
    font-size: 1rem;
    padding: 0.1rem;
    margin-left: 8rem;
    position: absolute;
    color: var(--color-tertiary);
    gap: 1.6;
    cursor:default;
}

.encryptor__warning::before{
    content: "!";
    font-size: 0.8rem;
    color: white;
    background-color: var(--color-secondary);
    border: 0.1em solid var(--color-secondary);
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 1.2em;
    height: 1.2em;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
}

.encryptor__buttons-container{
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    width: 273.6px;
    width: 100%;
    gap: 2rem;  
    overflow-wrap: break-word;
}

.encryptor__button{
    height: 12%;
    padding: 1rem;
    width: 60%;
    cursor: pointer;
    font-family: var(--font-primary);
    border-radius: 1.5em;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.encryptor__button:hover{
    background-position: 0;
    background-color: var(--color-tertiary);
    color: var(--glow-color);
    border: solid 0.1em var(--glow-color) ;
}

.encryptor__button--encrypt{
    min-width: 38%;
    margin-left: 8rem;
    background-color: var(--color-tertiary);
    border: solid 0.1em var(--color-tertiary);
    color: white;
}

.encryptor__button--decrypt{
    color: var(--color-primary);
    min-width: 38%;
    background-color:var(--color-quinary);
    border: solid 0.1em var(--color-secondary);
    color: var(--color-secondary);
}

.encryptor__fixer{
    display:flex; 
    float:left; 
}


.right-column{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    padding-left: 3.2rem;
    border-radius: 3.2em;
    background-color: white;
    padding-top: 3.2rem;
    padding-bottom: 1.7rem;
    padding-right: 3.2rem;
    margin-top: -8rem;
}

.encryptor__output{
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.encryptor__output p{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-tertiary);
    cursor: default;
}

.encryptor-output__label{
    padding-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
    color: #495057;
    cursor: default;
    padding-top: 1rem;
}

.textarea--output{
    /*display: none;*/
    background-color: transparent;
    flex: 1;
    max-width: 343px;
    height: 72%;
    min-height: 288px;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
    
}

.encryptor__output-image{
    padding-top: 1.5rem;
    position: absolute;
    width: 95%;
    margin-right: 3.2rem;
    margin: 1rem;
}
.hidden {
    display: none;
}

.copy-button{
    min-width: 38%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: var(--font-primary);
    border-radius: 2.5em;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    border: solid 0.1em var(--color-secondary);
    text-align: center;
    align-items: center;
    background-color: var(--color-quinary);
    /*display: none;*/
}

.copy-button:hover{
    background-position: 0;
    background-color: var(--color-tertiary);
    color: var(--glow-color);
    border: solid 0.1em var(--glow-color);
    
}

.encryptor__format-button{
    margin-top: 1.9rem;
    padding-top: 0.8rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-family: var(--font-primary);
    border-radius: 40%;
    text-align: center;
    padding-right: 1rem;
    margin-right: 1rem;
    background-color: var(--color-tertiary);
    color: var(--glow-color);
    border: solid 0.1em var(--color-tertiary) ;
    align-items: center;
    font-size: rem;
    color: var(--color-primary);
    
}

.encryptor__format-button:hover{
    background-position: 0;
    color: var(--glow-color);
    border: solid 0.1em var(--glow-color) ;
}

.footer{
    box-shadow: 0px 0px 7px rgb(48, 159, 159);  
    color: var(--color-primary);
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-align: center;
    background-color: var(--color-secondary);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}


@keyframes flicker {
    0% {opacity: 0.27861;}
    50% {opacity: 1;}
    100% {opacity: 2;}
}
.cursor-flicker {
    animation: flicker 0.5s infinite;
}

@keyframes vibrate {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}




